/01_frontpage.aux
/01_header.aux
/02_propostas.aux
/03_proposta1.aux
/04_proposta2.aux
/05_proposta3.aux
/06_conclusao.aux
/07_anexo.aux
/master.aux
/master.lof
/master.log
/master.out
/master.pdf
/master.synctex.gz
/master.toc
/maste.synctex.gz
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.xml
main.pdf
*.fls
*.bcf
*.pyg
